

<style>
    .code-block {
        border-left: 4px solid green;
        margin: 31px 0;
        padding: 0 27px;
        font-style: italic;
        font-weight: bold;
        line-height: 20px;
    }

    .text-block {
        line-height: 35px;
    }

    .label-block {
        color: #468847;
        font-weight: bold;
        font-style: italic;
        border-bottom: 1px solid #468847;
        text-align: start;
    }
</style>

<section id="whatis" class="contact sections lightbg">
    <div class="container">
        <div class="row">
            <div class="main_contact whitebackground">
                <div class="head_title text-center">
                    <h2>Elliptic-Curve</h2>
                </div>
                <div class="contact_content">
                    <div class="col-md-12">
                        <div class="single_right_contact">



                            <p class="label-block">Definition</p>

                            <div class="text-block">
                                Kthesat eliptik janë të zbatueshme për shkëmbime celësash, nënshkrimet dixhitale, gjeneruesit pseudo-random etj. 
                                Në mënyrë indirekte, ato mund të përdoren për enkriptim duke kombinuar shkëmbimin e celësave me një skemë simetrike 
                                të enkriptimit. Ato përdoren gjithashtu në disa algoritme të faktorizimit të numrave të plotë bazuar në kthesa 
                                eliptike që kanë aplikime në kriptografi, të tilla si faktorizimi Lenstra ECC.
                            </div>

                            <br />
                            <br />

                            <p class="label-block">History</p>

                            <div class="text-block">
                                Kriptografia Elliptic Curve ( ECC ) është një kriptosistem celësash-publikë, si RSA, Rabin, El Gamal. <br/>
                                Ky sistem u krijua nga Neal Koblitz dhe Victor Miller në vitin 1985.
                            </div>
                            <br />
                            <br />

                            <p class="label-block">Logic</p>

                            <div class="text-block">
                                Cdo përdorues është i pajisur me një celës publik, që përdoret për enkriptimin dhe një celës privat,
                                që përdoret për dekriptimin. Elliptic Curves përdoren si shtesa për kriptosistemet e tjera aktuale.
                            </div>

                            <br />

                            <p class="label-block">Usage</p>

                            <div class="text-block">
                                Disa nga aplikacionet që përdorin metodën Elliptic-Curve janë:
                                <br />
                            </div>

                            <p class="code-block">
                                Pajisjet e komunikimit wireless<br /><br />
                                Kartat smart<br /><br />
                                Web server-at që duhet të përballen me shumë sesione enkriptimi<br /><br />      
                                Në cdo aplikacion ku siguria është parësore, por mungon energjia e duhur elektrike apo hapësira e ruajtjes, që është e nevojshme për kriptosistemet aktuale.<br /><br />      
                                Votimin elektronik<br /><br />
                                Verifikimin me watermark
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>