
<section class="portfolio sections">
    <div class="container">
        <div class="head_title text-center">
            <h1>Lista e Algoritmave Asimetrikë</h1>
            <p>Kliko një prej kartave për të mësuar më shumë rreth algoritmit.</p>
        </div>
        <div class="row">
            <div class="portfolio-wrapper text-center">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("DiffieHellman","Asymmetrics")'">
                        <i class="fa fa-book"></i>
                        <div class="separator"></div>
                        <h4>Diffie Hellman</h4>
                        <p>Shkëmbimi i celësave i Diffie-Hellman (DH) është një metodë për shkëmbimin e sigurt të çelësave 
                            kriptografikë në një kanal publik komunikimi.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Rsa","Asymmetrics")'">
                        <i class="fa fa-bug"></i>
                        <div class="separator"></div>
                        <h4>RSA</h4>
                        <p>RSA është një algoritëm kriptografik asimetrik i përdoret për të enkriptuar ose për të nënshkruar informacione.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("EllipticCurve","Asymmetrics")'">
                        <i class="fa fa-gears"></i>
                        <div class="separator"></div>
                        <h4>Elliptic Curve</h4>
                        <p>Kthesat eliptik janë të zbatueshme për shkëmbime celësash, nënshkrimet dixhitale, gjeneruesit pseudo-random etj</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Example row of columns -->
    </div> <!-- /container -->
</section>