
<section id="contact" class="contact sections">
    <div class="container">
        <div class="row">
            <div class="main_contact whitebackground">
                <div class="head_title text-center">
                    <h2>AES</h2>
                    <p>Plotësoni fushat e kërkuara dhe klikoni "Gjenero" për të përfituar vlerën e enkriptuar</p>
                </div>
                <div class="contact_content">
                    <div class="col-md-6">
                        <div class="single_left_contact">
                            <form id="formid">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="value" placeholder="Vlera" required="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="password" placeholder="Passwordi" required="">
                                </div>

                                <div class="center-content">
                                    <input type="button" value="Enkripto" id="gobutton" class="btn btn-default">
                                </div>

                                <br/>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="encrypted" placeholder="Enkriptimi" required="">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_right_contact">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="encvalue" placeholder="Vlera E Enkriptuar" required="">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="encpassword" placeholder="Passwordi" required="">
                                </div>

                                <div class="center-content">
                                    <input type="button" value="Dekripto" id="encgobutton" class="btn btn-default">
                                </div>

                                <br />

                                <div class="form-group">
                                    <input type="text" class="form-control" id="decrypted" placeholder="Dekriptimi" required="">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $("#gobutton").click(function () {
        var val = $("#value").val();
        var pass = $("#password").val();
        $.ajax({
            type: "Get",
            url: "AesEncrypt?value=" + val + "&password=" + pass,
            contentType: "application/json",
            success: function (data) {
                $("#encrypted").val(data);
            }, error: function (err) {
                console.log(err);
            }
        })
    });

    $("#encgobutton").click(function () {
        var val = $("#encvalue").val();
        var pass = $("#encpassword").val();
        $.ajax({
            type: "Get",
            url: "AesDecrypt?value=" + val + "&password=" + pass,
            contentType: "application/json",
            success: function (data) {
                $("#decrypted").val(data);
            }, error: function (err) {
                console.log(err);
            }
        })
    });

</script>