

<section id="contact" class="contact sections">
    <div class="container">
        <div class="row">
            <div class="main_contact whitebackground">
                <div class="head_title text-center">
                    <h2>RSA</h2>
                    <p>Plotësoni fushat e kërkuara dhe klikoni "Gjenero" për të përfituar vlerën e enkriptuar</p>
                </div>
                <div class="contact_content">
                    <div class="col-md-12">
                        <div class="single_left_contact">
                            <p>Madhësia e Celësit</p>
                            <form id="formid">
                                <div class="form-group">
                                    <select class="form-control" id="keySize" placeholder="Madhësia e Celësit" required="">
                                        <option value="128">128</option>
                                        <option value="256">256</option>
                                        <option value="512">512</option>
                                        <option value="1024">1024</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_left_contact">
                            <p>Enkripto</p>
                            <form id="formid">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="value" placeholder="Vlera" required="">
                                </div>

                                <div class="center-content">
                                    <input type="button" value="Enkripto" id="gobutton" class="btn btn-default">
                                </div>

                                <br />

                                <div class="form-group">
                                    <textarea rows="6" class="form-control" id="encrypted" placeholder="Enkriptimi" required=""></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_right_contact">
                            <p>Dekripto</p>
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="encvalue" placeholder="Vlera E Enkriptuar" required="">
                                </div>

                                <div class="center-content">
                                    <input type="button" value="Dekripto" id="encgobutton" class="btn btn-default">
                                </div>

                                <br />

                                <div class="form-group">
                                    <input type="text" class="form-control" id="decrypted" placeholder="Dekriptimi" required="">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

    $("#gobutton").click(function () {
        var val = $("#value").val();
        var keySize = $("#keySize").val();


        $.ajax({
            type: "Get",
            url: "RsaEncrypt?value=" + val + "&keySize=" + keySize ,
            contentType: "application/json",
            success: function (data) {
                $("#encrypted").val(data);
            }, error: function (err) {
                console.log(err);
            }
        })
    });

    $("#encgobutton").click(function () {
        var val = $("#encvalue").val();
        var keySize = $("#keySize").val();
        var obj = { value: val, keySize: keySize };

        $.ajax({
            type: "POST",
            url: "RsaDecrypt",
            contentType: "application/json",
            data: JSON.stringify(obj),
            success: function (data) {
                console.log(data);
                $("#decrypted").val(data);
            }, error: function (err) {
                console.log(err);
            }
        })
    });

</script>
