

<section id="service" class="service2 sections lightbg">
    <div class="container">
        <div class="row">
            <div class="main_service2">
                <div class="head_title text-center">
                    <h2>MËSO CRYPTOGRAPHY</h2>
                    <p>Të mësosh rreth sigurisë së informacionit nuk ka qenë kurrë kaq e lehtë.</p>
                </div>
                <div class="service_content">
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="@Url.Content("~/Content/assets/images/flaticon1.png")" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>E-Learning</h2>
                                <p>Mësim interaktiv në internet, i shoqëruar me video dhe foto.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="@Url.Content("~/Content/assets/images/flaticon2.png")" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Teste Live</h2>
                                <p>Ju mundesojmë testimin live të algoritmave të kursit tonë.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="@Url.Content("~/Content/assets/images/flaticon3.png")" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Historik</h2>
                                <p>Të dish sesi kanë evoluar këta algoritma është pjesa më e rëndësishme të kuptuarit të tyre.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="single_service2">
                            <div class="single_service_left">
                                <img src="@Url.Content("~/Content/assets/images/flaticon4.png")" alt="" />
                            </div>
                            <div class="single_service_right">
                                <h2>Përdorime</h2>
                                <p>Cdo shpjegim shoqërohet në fund me implementimet sot të këtyre algoritmave në internet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="contact" class="contact sections">
    <div class="container">
        <div class="row">
            <div class="main_contact whitebackground">
                <div class="head_title text-center">
                    <h2>PRANOJME SUGJERIME</h2>
                    <p>Plotësoni fushat e mëposhtme me gjërat që do të donit ti përmirësojmë në <b>LEARN-CRYPTO</b>.</p>
                </div>
                <div class="contact_content">
                    <div class="col-md-6">
                        <div class="single_left_contact">
                            <form action="#" id="formid">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" placeholder="Emaili Juaj" required="">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" placeholder="Sugjerimi" required="">
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="8" placeholder="Mesazhi I Plotë"></textarea>
                                </div>
                                <div class="center-content">
                                    <input type="submit" value="Dërgo" class="btn btn-default">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single_right_contact">
                            <p>Ky projekt website është krijuar me qëllim edukimin e vizitorëve rreth temës së algoritmave kriptografikë dhe sa të 
                            rëndësishëm janë ata në botën e sotme të internetit dhe informacionit dixhital.</p>
                            <div class="contact_address margin-top-40">
                                <span>Punuan Deni, Gresa, Ejona, Skerdi, Flavio</span>
                                <span>TR 1001, Tirana, Albania 2018.</span>
                                <span class="margin-top-20">Fakulteti I Ekonomisë</span>
                                <span>Universiteti i Tiranës</span>
                            </div>
                            <div class="contact_socail_bookmark">
                                <a href=""><i class="fa fa-facebook"></i></a>
                                <a href=""><i class="fa fa-twitter"></i></a>
                                <a href=""><i class="fa fa-google"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>