<style>
    .code-block {
        border-left: 4px solid green;
        margin: 31px 0;
        padding: 0 27px;
        font-style: italic;
        font-weight: bold;
        line-height: 20px;
    }

    .text-block {
        line-height: 35px;
    }

    .label-block {
        color: #468847;
        font-weight: bold;
        font-style: italic;
        border-bottom: 1px solid #468847;
        text-align: start;
    }
</style>

<section id="whatis" class="contact sections lightbg">
    <div class="container">
        <div class="row">
            <div class="main_contact whitebackground">
                <div class="head_title text-center">
                    <h2>Blowfish</h2>
                </div>
                <div class="contact_content">
                    <div class="col-md-12">
                        <div class="single_right_contact">

                            

                            <p class="label-block">Definition</p>

                            <div class="text-block">
                                Blowfish është një prej algoritmave të parë simetrik. Ai siguron një normë të mirë enkriptimi në software 
                                sipas kriptoanalizave efektive të gjetur deri më sot. Eshtë një kod që mund të përdoret
                                për të zëvendësuar DES dhe IDEA.
                            </div>

                            <br />
                            <br />

                            <p class="label-block">History</p>

                            <div class="text-block">
                                U projektua në vitin 1993 nga Bruce Schneier si një alternativë më e lehtë, e shpejtë dhe e lirë ndaj algoritmeve ekzistuese të enkriptimit.
                                Ishte një nga protokollet e para publike në mbarë botën. Që atëherë, po fiton ngadalë pranimin për një algoritëm të fortë.
                            </div>
                                <br />
                                <br />

                            <p class="label-block">Logic</p>

                            <div class="text-block">
                                Ai merr një key me gjatësi të ndryshueshme, nga
                                32 bit në 448 bit, duke e bërë ideal për përdorim të brendshëm dhe jo vetëm. Implementimi i parë i Blowfish u bë në
                                LabView ku cdokush mund të enkriptojë të dhëna pa pasur nevojë për software shtesë. Blowfish nga ana tjetër nuk ka
                                një patentë dhe nuk është i licensuar por është në dispozicionon falas për të gjithë pëdoruesit.
                                Blowfish është në vetvete një nga kodet më të shpejtë për përdorim të përgjithshëm, përvec kur ndërrohen celësat.
                                Cdo celës i ri kërkon përpunim paraprak aq sa do të kërkonte të enkriptoje 4 KB tekst, gjë që është shumë më e
                                ngadaltë në krahasim me kodet e tjera. Cdo përdorues kërkon një celës unik, kështu që sa më shumë të rritet numri i
                                përdoruesve, rritet dhe menaxhimi i celësave.
                            </div>

                            <br />
                            <br />

                            <p class="label-block">Category</p>

                            <div class="text-block">
                                Blowfish konsiston në dy pjesë:
                            </div>

                            <p class="code-block">
                                Key - Expansion
                                <br /><br />
                                Enkriptimin e të dhënave
                            </p>

                            <br />
                            <br />

                            <p class="label-block">Usage</p>

                            <div class="text-block">
                                Disa nga aplikacionet që përdorin metodën BlowFish janë:
                                <br />
                            </div>

                            <p class="code-block">
                                AEdit – një Windows Word Processor që inkorporon enkriptimin e tekstit.
                                <br /><br />
                                Coolfish – një editor për enkriptim teksti në Windows.
                                <br /><br />
                                Footchat – një chat i koduar, shpërndarja e avancuar filesh duke përdorur arkitekturën client-server.
                                <br /><br />
                                JFile – një program i bazës së të dhënave për platformën PalmOs.
                                <br /><br />
                                Freedom – privatësi për ëeb-broësing, e-mail, chat, telnet etj.
                            </p>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>