

<section class="portfolio sections">
    <div class="container">
        <div class="head_title text-center">
            <h1>Lista e Algoritmave Simetrikë</h1>
            <p>Kliko një prej kartave për të mësuar më shumë rreth algoritmit.</p>
        </div>
        <div class="row">
            <div class="portfolio-wrapper text-center">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Blowfish","Symmetrics")'">
                        <i class="fa fa-book"></i>
                        <div class="separator"></div>
                        <h4>Blowfish</h4>
                        <p>Blowfish është një prej algoritmave të parë simetrik. Ai siguron një normë të mirë enkriptimi në software
                            sipas kriptoanalizave efektive të gjetur deri më sot.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Des","Symmetrics")'">
                        <i class="fa fa-bug"></i>
                        <div class="separator"></div>
                        <h4>DES</h4>
                        <p>Standardi i Kriptimit DES është një metodë e vjetruar simetrike e kodimit të të dhënave.
                           DES punon duke përdorur të njëjtin çelës për të enkriptuar dhe dekriptuar një mesazh.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Aes","Symmetrics")'">
                        <i class="fa fa-gears"></i>
                        <div class="separator"></div>
                        <h4>AES</h4>
                        <p>Advanced Encryption Standard (AES), i njohur edhe nga emri i tij origjinal Rijndael është 
                        një specifikim për enkriptim të të dhënave elektronike. I krijuar nga NIST në vitin 2001.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Example row of columns -->
    </div> <!-- /container -->
</section>