

<section class="portfolio sections">
    <div class="container">
        <div class="head_title text-center">
            <h1>Lista e Funksioneve Hash</h1>
            <p>Kliko një prej kartave për të mësuar më shumë rreth funksionit.</p>
        </div>
        <div class="row">
            <div class="portfolio-wrapper text-center">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Md5","HashFunctions")'">
                        <i class="fa fa-external-link"></i>
                        <div class="separator"></div>
                        <h4>MD-5</h4>
                        <p>Algoritmi MD5 është një funksion hash i përdorur gjerësisht për të prodhuar një vlerë hash 128-bit. 
                         MD5 rezultoi të ketë dobësi të shumta.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Sha","HashFunctions")'">
                        <i class="fa fa-gears"></i>
                        <div class="separator"></div>
                        <h4>SHA-1</h4>
                        <p>Algoritmet SHA janë një familje e funksioneve të hasheve kriptografike të botuara nga Instituti Kombëtar i Standardeve dhe Teknologjisë (NIST)</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Sha","HashFunctions")'">
                        <i class="fa fa-book"></i>
                        <div class="separator"></div>
                        <h4>SHA-2</h4>
                        <p>Një familje e dy funksioneve të ngjashme hash, me madhësi të ndryshme të bllokut, të njohura si SHA-256 dhe SHA-512.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="community-edition" onclick="location.href = '@Url.Action("Sha","HashFunctions")'">
                        <i class="fa fa-bug"></i>
                        <div class="separator"></div>
                        <h4>SHA-3</h4>
                        <p>Mbështet të njëjtën gjatësi të hash si SHA-2, dhe struktura e tij e brendshme ndryshon në mënyrë të konsiderueshme nga pjesa tjetër e familjes SHA.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Example row of columns -->
    </div> <!-- /container -->
</section>
